// Basic Variables
$base-font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    900px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

// default colors
$red-color:       #ca3024;
$yellow-color:    #eb9d14;

// Mixins
// Media Screen Size
@mixin media-breakpoint-up($size){
    @media screen and (max-width: $size) {
        @content;
    }
}

@mixin media-breakpoint-down($size){
    @media screen and (min-width: $size) {
        @content;
    }
}