@use 'custom' as *;

.footer {
    background-color: #d2ccc9;
    padding: 4em 0 3em;     


    .color-facebook {
        color: $facebook;
    }

    .color-instagram {
        color: $instagram;
    }

    .color-linkedin {
        color: $linkedin;
    }


    h3{
        font-size: 22px;
        color: #000000;
        margin-bottom: 0.8em;
        letter-spacing: 1px;
        font-family: Helvetica;
    }
    
    a.nav-link {
        display: inline-block;
        text-transform: uppercase;
        color: black;
        font-size: .8em;
    }

    a.active-nav, a.active-nav:hover, .underline {
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    .logo {
        width: calc(5vw + 100px);
        max-width: 200px;
    }
}