@use 'custom' as *;

// Header Menu
.menu {
    background-color: transparent;
    display: flex;
    z-index: 999;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    padding: 1.3em 0.5em;
    overflow:  hidden;
    
    .container {
        position: relative;
        @include media-breakpoint-down($on-laptop){
            padding: 0 1cm;
        }
    }

    li {
        transform: translateY(-30px);
        padding: 0 0.5rem;
        // text-align: center;

        // Only when navbar is not collapsed
        @include media-breakpoint-down(990px){
            &::after {
                position: absolute;
                top: 50px;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                background-color: $red-color;
                width: 0%;
                content: "";
                height: 3px;
                transition: all 0.5s;
            }
    
            &:hover{
                &::after{
                    width: 80%;
                }
            }
        }

        a {
            color: white;
            text-transform: uppercase;
            font-weight: 600;

            &:hover {
                color: $yellow-color;
                // text-decoration: underline;
            }
        }

    }
}

a.active {
    color: $yellow-color;
    text-decoration: underline;
}

// Logo
.logo {
    width: 20vw;

    @include media-breakpoint-down(900px) {
        width: 12rem;
    }

}

// Contact Button
// .btn-rounded {
//     @include media-breakpoint-up($on-palm) {
//         display: none;
//     }

//     position: relative;
//     transform: translateY(-30px);
//     padding: 1rem 4.125rem 1rem 1.25rem;
//     font-weight: 500;
//     margin: 0;
//     border: 0 ;
//     background-color: white;
//     background-image: linear-gradient(to right, red , yellow);

//     &:hover{
//         background-color: grey;
//         color: white;
//         transform: translateY(-32px)
//     }

//     span {
//         position: absolute;
//         background-color: black;
//         width: 2.5rem;
//         height: 2.5rem;
//         top: 50%;
//         right: 10px;
//         transform: translateY(-50%);
//         border-radius: 50%;

//         i {
//             color: white;
//             line-height: 2.5rem;
//         }
//     }
// }


// Navbar Items
.menu_item{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    background: $red-color;
    padding: 10px 20px;
    border-radius: 0%;
    transition: border 0.2s ease;

    &:hover{
        color:$yellow-color;
        // cursor: pointer;
    }
}


// Navbar Toggler 
.navbar-toggler {
    width: 30px;
    height: 30px;
    position: relative;
    transform: translateY(-3vw);
    transition: .5s ease-in-out;
    outline: none;
    box-shadow: none;
    border: 0;

    .top{
        margin-top: -8px;
    }

    .bottom{
        margin-top: 8px;
    }
}

// Navbar Toggler Icon
.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 80%;
    background-color: #fff;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}



// Navbar Collapse
@include media-breakpoint-up(990px){
    div#custom-navbar-collapse{
        background: black;
        margin: 0;
        padding-top:1cm;
        width: 90%;
        z-index: 999;

        a {
            font-size: 2vw;
        }

        button {
            top: 10px;
        }
    }
}


.page-banner {
    background: url(../images/banner1.jpeg) no-repeat center 0px;
    height: 350px;
    background-size: cover;
    background-position: center;
}



