<div class="footer">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 container-md mx-auto">
            <div class="col-md-3 col-sm-6">
                <a href="#"><img class="logo" src="images/CE-Logo.png" alt="ce products"></a>
            </div>
            <div class="col-md-3 col-sm-6 footer-wthree-grid">
                <h3>Navigation</h3>
                <ul class="navbar-nav my-2 m-lg-0 col d-flex justify-content-md-between justify-content-lg-center">
                    <li>
                        <a class="nav-link active-nav" href="/"> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href=" /about">
                          about
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href=" /about">
                          Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href=" /about">
                          Projects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href=" /about">
                          Exhibition
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href=" /about">
                          Contact Us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 footer-wthree-grid" id="map-centered">
                <h3>Maps</h3>
                <div class="map-ce">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15937.092337675673!2d101.7439862!3d3.0211438!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5a6041e5c3f169e!2sCE+Products+Synergy+Sdn+Bhd!5e0!3m2!1sen!2smy!4v1510129845901" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 footer-wthree-grid w3social">
                <h3>Follow Us</h3>
                <ul class="list-unstyled social-media-list">
                    <li>
                        <a href="https://www.facebook.com/CEPS-Pizza-Oven-1865318017051568/" rel="noopener noreferrer" target="_blank">
                            <i class="bi-facebook flex-shrink-0 me-2 color-facebook"></i>CE Products
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/willie_wyl/" rel="noopener noreferrer" target="_blank">
                            <i class="bi-instagram flex-shrink-0 me-2 color-instagram"></i>willie_wyl
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/ce-products-synergy-sdn-bhd/" rel="noopener noreferrer" target="_blank">
                            <i class="bi-linkedin flex-shrink-0 me-2 color-linkedin"></i>CE Products Synergy Sdn. Bhd.
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 container-md mx-auto">
    <div class="col">
      <h3 class="fs-5 mb-3">Contact Us</h3>

      <ul class="list-unstyled email-list">
        <li>
          <i class="bi-envelope color-mail flex-shrink-0 me-2"></i>
          <a href="mailto:powerkidschool@gmail.com">
            powerkidschool@gmail.com
          </a>
        </li>
      </ul>

      <ul class="list-unstyled phone-list">
        <li>
          <i class="bi-telephone color-phone flex-shrink-0 me-2"></i>
          <a href="tel:+60390592979"> 03 ‎ - 9059 2979 </a>
        </li>
        <li>
          <i class="bi-telephone color-phone flex-shrink-0 me-2"></i>
          <a href="tel:+60102212482"> 010 - 221 2482 </a>
        </li>
        <li>
          <i class="bi-telephone color-phone flex-shrink-0 me-2"></i>
          <a href="tel:+60390564288"> 03 ‎ - 9056 4288 </a>
        </li>
        <li>
          <i class="bi-telephone color-phone flex-shrink-0 me-2"></i>
          <a href="tel:+0102212483"> 010 - 221 2483 </a>
        </li>
      </ul>

      <ul class="list-unstyled hours-list">
        <li>
          <i class="bi-clock text-muted flex-shrink-0 me-2"></i>
          8:30 am – 5:00 pm
        </li>
        <li>
          <i class="bi-calendar text-muted flex-shrink-0 me-2"></i>
          Monday to Friday
        </li>
      </ul>
    </div>

    <div class="col">
      <h3 class="fs-5 mb-3">Follow Us</h3>

      <ul class="list-unstyled social-media-list">
        <li>
          <a href="https://www.facebook.com/PowerKidsChildcare" rel="noopener noreferrer" target="_blank">
            <i class="bi-facebook flex-shrink-0 me-2 color-facebook"></i>PowerKids Preschool
          </a>
        </li>

        <li>
          <a href="https://www.instagram.com/powerkids_2001/" rel="noopener noreferrer" target="_blank">
            <i class="bi-instagram flex-shrink-0 me-2 color-instagram"></i>powerkids_2001
          </a>
        </li>

        <li>
          <a href="https://www.youtube.com/channel/UCOjK8A2hTRbh1jg3hPE7uCw" rel="noopener noreferrer" target="_blank">
            <i class="bi-youtube flex-shrink-0 me-2 color-youtube"></i>PowerKids
          </a>
        </li>
      </ul>
    </div>

    <div class="col">
      <h3 class="fs-5 mb-3">Navigation</h3>

      <ul class="navbar-nav my-2 m-lg-0 col d-flex justify-content-md-between justify-content-lg-center"><li class="nav-item">
          <a class="nav-link active-nav" href="/"> Home </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href=" /about">
            about
          </a>
        </li><li class="nav-item">
          <a class="nav-link " href=" /programs">
            programs
          </a>
        </li><li class="nav-item">
          <a class="nav-link " href=" /events">
            events
          </a>
        </li><li class="nav-item">
          <a class="nav-link " href=" /register">
            register
          </a>
        </li><li class="nav-item">
          <a class="nav-link " href=" /schools">
            schools
          </a>
        </li></ul>
    </div>
  </div> -->