<nav class="navbar navbar-expand-lg navbar-dark menu">
    <div class="container">

        <a class="navbar-brand" href="#">
            <img class="logo" src="images/CE-Logo.png" alt="ceps">
        </a>
 
        <button class="navbar-toggler d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#custom-navbar-collapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top"></span>
            <span class="toggler-icon middle"></span>
            <span class="toggler-icon bottom"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end text-center" id="custom-navbar-collapse" aria-expanded="true">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Exhibition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <!-- <button type="button" class="rounded-pill btn-rounded">+6016-6637560
                <span>
                    <i class="bi bi-telephone-fill"></i>
                </span>
            </button> -->
        </div>
    </div>
</nav>

