<nav class="menu navbar navbar-expand-lg navbar-dark">
    <div class="container">

        <a class="navbar-brand" href="#">
            <img class="logo" src="/ceps/images/CE-Logo.png" alt="ceps">
        </a>
 
        <button class="navbar-toggler d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#custom-navbar-collapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top"></span>
            <span class="toggler-icon middle"></span>
            <span class="toggler-icon bottom"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end text-center" id="custom-navbar-collapse" aria-expanded="true">

            <ul class="navbar-nav">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                    {{ $active = or $active (eq .Name $currentPage.Title) }}
                    <a href="{{ .URL }}" class="nav-link {{ if $active }}active-nav{{ end }}">{{ .Name }}</a>

                </li>
                {{ end }}
            </ul>
            <!-- <button type="button" class="rounded-pill btn-rounded">+6016-6637560
                <span>
                    <i class="bi bi-telephone-fill"></i>
                </span>
            </button> -->
        </div>
    </div>
</nav>

