<nav class="navbar navbar-expand-lg navbar-light menu">
    <div class="container">

        <a class="navbar-brand" href="#">
            CEPS
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar-nav">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Exhibition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <button type="button" class="rounded-pill btn-rounded">+6016-6637560
                <span>
                    <i class="bi bi-telephone-fill"></i>
                </span>
            </button>
        </div>
    </div>
</nav>


<!-- <div class="banner-agileinfo bg-secondary">
    <div class="container">		
        <div class="w3header">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                                            <a href="index.php"><img src="controller/upload/home/logo1.png" alt="ce products"></a>
                                    </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.php?task=home">Home</a></li>
                        <li><a href="index2.php?task=about">About</a></li>
                        <li><a href="index.php?task=products">Products</a></li>
                        <li><a href="index.php?task=project">Projects</a></li>
                        <li><a href="index.php?task=exhibition">Exhibition</a></li>
                        <li><a href="index.php?task=contact">Contact Us</a></li>
                        
                    </ul> 
                    <div class="clearfix"> </div>	
                </div>
            </nav>
        </div>  
    </div>
</div> -->