{{ define "main" }}

<!-- Content from _index.md -->
{{ .Content }}

<!-- <div class="products">
    <div class="container">
      <h1>Our Products</h1>

      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
 
            <a class="swiper-slide card" href="">
                <div class="image-wrapper">
                    <img src="images/ucan1.JPG" alt="...">
                </div>
                <div class="card-body">
                <h5 class="card-title">UCAN HUMIDIFIER</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
            <a class="swiper-slide card" href="">
                <div class="image-wrapper">
                    <img src="images/ucan1.JPG" alt="...">
                </div>
                <div class="card-body">
                <h5 class="card-title">UCAN HUMIDIFIER</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
            <a class="swiper-slide card" href="">
                <div class="image-wrapper">
                    <img src="images/ucan1.JPG" alt="...">
                </div>
                <div class="card-body">
                <h5 class="card-title">UCAN HUMIDIFIER</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
            <a class="swiper-slide card" href="">
                <div class="image-wrapper">
                    <img src="images/ucan1.JPG" alt="...">
                </div>
                <div class="card-body">
                <h5 class="card-title">UCAN HUMIDIFIER</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
        
      </div>
      <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
        
    </div>
    
    <div class="swiper-pagination"></div>
</div> -->

<div class="brands">
    <div class="container">
      <h1 class="pb-3">Our Product Brands</h1>
      
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="images/brands/1.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/brands/2.png" style="width: 300px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/brands/3.png" style="width: 300px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/brands/4n.png" style="width: 300px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/brands/5n.png" style="width: 300px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/brands/6n.png" style="width: 300px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/brands/7n.png" style="width: 300px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/brands/ucan.PNG" style="width: 300px;" alt="">
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>  
      </div>

    </div>
</div>

<div class="brands">
    <div class="container">
      <h1 class="mb-5">Our Clientele</h1>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="images/clientele/5.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/6.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/8.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/9.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/10.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/11.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/12.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/13.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/23.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/24.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/26.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/29.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/30.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/31.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/32.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/33.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/35.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/38.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/39.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/40.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/42.png" style="width: 280px;" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/clientele/44.png" style="width: 280px;" alt="">
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>  
      </div> 
    </div>
  </div>  

{{ end }}