{{ define "main" }}

<!-- Content from _index.md -->
{{ .Content }}

<div class="products">
  <div class="container">
    <h1>Our Products</h1>

    <div id="owlcarousel" class="owl-carousel owl-theme" data-bs-ride="carousel">
      <a href="#">
        <div class="card">
          <div class="image-wrapper">
            <img src="images/ucan1.JPG" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">UCAN HUMIDIFIER</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      <a href="">
        <div class="card">
          <div class="image-wrapper">
            <img src="images/ucan.JPG" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">PIZZA OVEN</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      <a href="">
        <div class="card">
          <div class="image-wrapper">
            <img src="images/ucan1.JPG" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">INSPECTION MIRROR</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      <a href="">
        <div class="card">
          <div class="image-wrapper">
            <img src="images/ucan1.JPG" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">COMBI OVEN</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      <a href="">
        <div class="card">
          <div class="image-wrapper">
            <img src="images/ucan1.JPG" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">SEF INDUCTION COOKER</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      <a href="">
        <div class="card">
          <div class="image-wrapper">
            <img src="images/ucan1.JPG" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">COOKING RANGES</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>

    </div>
  </div>
</div>

<div class="brands">
  <div class="container">
    <h1>Our Product Brands</h1>
    <div id="owlcarousel" class="owl-carousel owl-theme" data-bs-ride="carousel">
      <div>
        <img src="images/brands/1.png" style="width: 342px;" alt="">
      </div>
      <div>
        <img src="images/brands/3.png" style="width: 342px;" alt="">
      </div>
      <div>
        <img src="images/brands/4n.png" style="width: 342px;" alt="">
      </div>
      <div>
        <img src="images/brands/5n.png" style="width: 342px;" alt="">
      </div>
      <div>
        <img src="images/brands/6n.png" style="width: 342px;" alt="">
      </div>
      <div>
        <img src="images/brands/7n.png" style="width: 342px;" alt="">
      </div>
      <div>
        <img src="images/brands/ucan.PNG" style="width: 342px;" alt="">
      </div>
    </div>
  </div>
</div>


{{ end }}